.discuss {
    max-width: 546px;
    width: 100%;
    margin-top: 55px;

    @media (max-width: 860px) {
        // margin: 40px auto 0 auto;
        max-width: none;
    }
}

.discuss__header {
    display: flex;
    align-items: center;
}

.discuss__section-arrow {
    position: relative;
    width: 100%;
    height: 30px;

    & img {
        position: absolute;
        top: 0;
        right: 0;
        object-position: right;
    }
}

.discuss__title {
    font-size: 24px;
    margin: 0 16px;
}

// Тело
.discuss__body {

}

// Строка
.discuss-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dashed $border-line;

    &._not-comments {

        & .discuss-row__comments {
            opacity: .4;
        }
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & .discuss-row__content {
                transform: translate(20px, 0);
            }
            
            & .discuss-row__title {
                color: $text-accent;
                text-shadow: 0 0 13px #bc5026;

                &::before {
                    opacity: 1;
                }
            }

            &::before {
                opacity: 1;
            }
        }
    }

    &:active {
        
        & .discuss-row__title {
            color: $link-active;

            &::before {
                background: $link-active;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: center/cover no-repeat url('@img/discuss/fire-card.png'); 
        opacity: 0;
        transition: $tr;
    }
}

.discuss-row__content {
    display: flex;
    align-items: center;
    transition: $tr;
}

.discuss-row__avatar {
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 27px;

    @media (max-width: $mobile-l) {
        margin-right: 16px;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140%;
        height: 140%;
        background: center/contain no-repeat url('@img/discuss/avatar-bg.png');
    }
}

.discuss-row__info {

}

.discuss-row__title {
    position: relative;
    font-size: 18px;
    opacity: .9;
    transition: $tr;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $text-accent;
        opacity: 0;
        transition: $tr;
    }

    @media (max-width: $mobile-m) {
        font-size: 16px;
    }
}

.discuss-row__date {
    display: inline-block;
    font-size: 14px;
    color: $text-second;
    margin-top: 4px;
}

.discuss-row__comments {
    color: #C1C2C2;
    white-space: nowrap;
    margin-left: 12px;
    opacity: .9;

    &::after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 12px;
        background: center/contain no-repeat url('@img/discuss/comments.png');
        vertical-align: middle;
        margin-left: 8px;
    }
}

// Подвал раздела
.discuss__footer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.discuss-forum {
    min-width: 175px;
    width: 175px;
    height: 40px;
    display: block;
}

.discuss-forum__bg {
    background: center/100% 60px no-repeat url('@img/buttons/forum.png');
}

discuss-forum__text {
    font-size: 11px;
}