.ideal-world {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        display: block;
        padding-top: 56%;
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & .ideal-world__hero {
                transform: scale(1.05) translate(10px, -9px);
            }

            & .ideal-world__play {
                transform: scale(1.05);
            }

            & .ideal-world__bg {
                transform: scale(1.05);
            }
        }
    }
}

.ideal-world__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.ideal-world__content {
    position: absolute;
    z-index: 1;
    bottom: 14%;
    left: 9%;
}

.ideal-world__title {
    font-size: 48px;

    @media (max-width: 500px) {
        font-size: 38px;
    }

    @media (max-width: $mobile-l) {
        font-size: 32px;
    }
}

.ideal-world__text {
    font-size: 18px;
    color: $text-second;

    @media (max-width: 500px) {
        font-size: 16px;
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }
}

.ideal-world__play {
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 6%;
    width: 23%;
    height: 27%;
    transition: $tr;
}

.ideal-world__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $tr;

    & img {
        object-fit: cover;
    }
}

.ideal-world__hero {
    position: absolute;
    top: -35px;
    right: -2px;
    width: 68%;
    height: 110%;
    transition: $tr;

    & img {
        animation: flyIWHero 8s 2s infinite;
    }

    @keyframes flyIWHero {
        0% {
            transform: translate(0,0);
        }
        50% {
            transform: translate(10px, -10px) scale(1.05);
        }
        100% {
            transform: translateY(0);
        }
    }
}

.ideal-world__hero-bg {
    right: -2px;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    clip: rect(0px, 355px, 85px, 50px);
    pointer-events: none;
}