.main {
    position: relative;
    width: 100%;
}

.main__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 700px;
    width: 100%;

    &::before {
        content: "";
        display: block;
        padding-top: 57%;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateY(-15px);
    }
}

.main__wrap {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 80px;

    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
    }
}

.main-start {
    position: relative;
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -24px;

    @media (max-width: $tablet) {
        width: 80%;
        margin-left: 0;
    }
}

.main-start__logo {
    width: 496px;
    // height: 496px;
    position: relative;
    // max-width: 496px;
    // width: 100%;
    width: 496px;
    
    @media (max-width: $tablet) {
        max-width: 340px;
    }
    
    &::before {
        content: "";
        display: block;
        padding-top: 87%;
    }
}

.msl__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.msl__path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.msl__shadow {
    transform: translate(-50%, -50%) scale(.8);
}

.msl__seal {
    animation: spinSeal 50s linear infinite;

    @keyframes spinSeal {
        0% {
            transform: translate(-50%, -50%) rotate(0);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}

.msl__fenix {
    transform: translate(-50%, -50%) !important;
}

.msl__sphere {
    transform: translate(-57.5%, -55.5%) scale(0.35);
    // animation: pulseSphere 6s infinite;

    @keyframes pulseSphere {
        0% {
            opacity: 1;
        }
        20% {
            opacity: .8;
        }
        40% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        61% {
            opacity: .8;
        }
        62% {
            opacity: 1;
        }
        63% {
            opacity: .8;
        }
        64% {
            opacity: 1;
        }
        70% {
            opacity: .8;
        }
        80% {
            opacity: 1;
        }
        90% {
            opacity: .8;
        }
        91% {
            opacity: 1;
        }
        92% {
            opacity: .8;
        }
        93% {
            opacity: 1;
        }
        100% {
            opacity: .8;
        }
    }

    & .msl__sphere-light {
        mix-blend-mode: lighten;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.msl__title {
    transform: translate(-50%, -49%) scale(0.63) !important;
}

.main-start__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;

    @media (max-width: $tablet) {
        margin-top: -20px;
    }
}

.main-start-btn {
    width: 340px;
    height: 92px;

    @media (max-width: 600px) {
        width: 270px !important;
        height: 72px;
    }
}

.main-start-btn__bg {
    background: center/100% 92px no-repeat url("@img/buttons/button2.png");

    @media (max-width: 600px) {
        background-size: 100% 72px;
    }
}

.main-start-btn__text {
    font-size: 16px;
}

.main-info {
    font-size: 16px;
    margin-top: 12px;

    @media (max-width: 600px) {
        font-size: 14px;
        margin-top: 4px;
    }

    & span {
        color: $text-accent;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
}

// Раздел со статусом
.main-status {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (max-width: $mobile-l) {
        margin-top: 90px;
    }
}

// Герои
.heroes {
    position: relative;
    width: 100%;
    height: 100px;
}

// Мужик
.hero-man {
    position: absolute;
    top: -270%;
    left: -15%;
    max-width: 720px;
    width: 120%;
    opacity: 0;
    animation: showHero 1s ease-in-out forwards;

    @media (max-width: $tablet) {
        max-width: 450px;
        top: -120%;
        left: auto;
        right: 48%;
        animation-name: showHeroMan;
    }

    @media (max-width: 600px) {
        width: 90%;
        right: 43%;
    }

    @media (max-width: $mobile-l) {
        top: -70%;
        right: 20%;
    }
}

.hero-man__wrap { 

    // @media (max-width: $tablet) {
    //     animation: flyMan 8s infinite;
    // }

    // @keyframes flyMan {
    //     0% {
    //         transform: translate(0,0);
    //     }
    //     50% {
    //         transform: translate(-10px, -10px);
    //     }
    //     100% {
    //         transform: translateY(0);
    //     }
    // }
}

.hero-man__shadow-main {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10%;
    animation: pulseShadow 10s linear infinite;
}

// Женщина
.hero-woman {
    position: absolute;
    top: -230%;
    left: 44%;
    max-width: 480px;
    width: 80%;
    opacity: 0;
    animation: showHero 1s .2s ease-in-out forwards;

    @media (max-width: $tablet) {
        max-width: 390px;
        top: -170%;
        left: 55%;
        animation-delay: 0;
    }

    @media (max-width: 600px) {
        width: 70%;
        top: -150%;
        left: 53%;
    }

    @media (max-width: $mobile-l) {
        top: -100%;
        left: 40%;
    }
}

.hero-woman__wrap {

    // @media (max-width: $tablet) {
    //     animation: flyWoman 8s 1s infinite;
    // }

    // @keyframes flyWoman {
    //     0% {
    //         transform: translateY(0);
    //     }
    //     50% {
    //         transform: translateY(-10px);
    //     }
    //     100% {
    //         transform: translateY(0);
    //     }
    // }
}

.hero-woman__shadow-main {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -5%;
    width: 111%;
    height: 70%;
    animation: pulseShadow 10s 2s linear infinite;
}

.hero-woman__shadow-sphere {
    position: absolute;
    top: 9%;
    right: 20%;
    width: 32%;
    height: 20%;
    mix-blend-mode: soft-light;
    animation: pulseWoman 6s infinite;
}

.hero-woman__shadow-sphere-small {
    position: absolute;
    top: 17%;
    right: 30%;
    width: 12%;
    height: 8%;
    mix-blend-mode: soft-light;
}


@keyframes showHeroMan {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showHero {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulseWoman {
    0% {
        opacity: 1;
    }
    20% {
        opacity: .8;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        mix-blend-mode: soft-light;
    }
    61% {
        opacity: .8;
        mix-blend-mode: color;
    }
    62% {
        opacity: 1;
        mix-blend-mode: soft-light;
    }
    63% {
        opacity: .8;
        mix-blend-mode: color;
    }
    64% {
        opacity: 1;
        mix-blend-mode: soft-light;
    }
    70% {
        opacity: .8;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: .8;
    }
    91% {
        opacity: 1;
        mix-blend-mode: soft-light;
    }
    92% {
        opacity: .8;
        mix-blend-mode: color;
    }
    93% {
        opacity: 1;
        mix-blend-mode: soft-light;
    }
    100% {
        opacity: .8;
        mix-blend-mode: color;
    }
}

@keyframes pulseShadow {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Статус сервера
.server {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server__info {
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 124px;

    @media (max-width: 600px) {
        width: 300px;
    }
}

.server__title {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    @media (max-width: $tablet) {
        text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    }
}

.server__info-content {
    position: absolute;
    top: 41%;
    left: 56%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        top: 37%;
    }
}

.server-bar {
    display: flex;
    align-items: center;
}

.server-bar__path {
    width: 83px;
    height: 19px;
    margin-left: -60px;

    @media (max-width: 600px) {
        width: 74px;
        height: 17px;
    }
}

.server__quantity {
    font-size: 22px;
    margin: -2px 0 0 14px;
    color: #63df00;

    @media (max-width: 600px) {
        font-size: 20px;
    }
}

.server__time {
    position: relative;
    z-index: 1;
    margin-top: -20px;

    @media (max-width: 600px) {
        margin-top: -35px;
    }
}

.main-fire {
    position: absolute;
    z-index: 1;
    bottom: -520px;
    left: 50%;
    transform: translate(calc(-50% + 75px), 0);
    width: 1725px;
    height: 1096px;
    pointer-events: none;
    user-select: none;
}

// Искры
.mfs-center-big-sparks {
    position: absolute;
    bottom: 36%;
    left: 39%;
    width: 431px;
    height: 327px;
    opacity: 0;
    animation: sparksShow 7s linear infinite;
}

.mfs-center-small-spark {
    position: absolute;
    bottom: 31%;
    left: 56%;
    width: 360px;
    height: 260px;
    opacity: 0;
    animation: sparksShow 7s 3s linear infinite;
}

.mfs-center-spark {
    position: absolute;
    bottom: 37%;
    left: 39%;
    width: 360px;
    height: 260px;
    opacity: 0;
    animation: sparksShow 7s 5s linear infinite;
}

.mfs-small-spark {
    position: absolute;
    bottom: 25%;
    left: 6%;
    width: 1375px;
    height: 347px;
    opacity: 0;
    animation: sparksShow 7s 2s linear infinite;
}

@keyframes sparksShow {
    0% {
        opacity: 0;
        transform: none;
    }
    30% {
        opacity: 1;
        transform: translate(0, -40px);
    }
    60% {
        opacity: 0;
        transform: translate(0, -80px);
    }
    100% {
        opacity: 0;
    }
}

.main-fire__fire {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mff-light {
    position: absolute;
    bottom: 22%;
    left: 21%;
    width: 1011px;
    height: 304px;
    animation: pulseFireLight 3s infinite;

    @keyframes pulseFireLight {
        0% {
            opacity: 1;
            transform: translateY(0)
        }
        33% {
            opacity: .8;
            transform: translateY(20px)
        }
        66% {
            opacity: 1;
            transform: translateY(0)
        }
        100% {
            opacity: .8;
            transform: translateY(20px)
        }
    }
}