.news {
    position: relative;
    width: calc(100% + 16px);
    background: rgba(7, 6, 5, 0.95);
    margin-top: 10px;
    margin-left: -16px;
    padding: 24px 54px 26px;

    @media (max-width: $laptop) {
        padding: 32px 32px 24px;
    }

    @media (max-width: 860px) {
        width: 100%;
        margin-left: 0;
    }

    @media (max-width: $mobile-l) {
        padding: 32px 0 24px;
    }
}

// Шапка
.news__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid $border-line;
}

.news__title {
    font-size: 24px;
    margin-right: 16px;
}

// Табы
.news__tabs {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;

    @media (max-width: $mobile-m) {
        width: 100%;
        margin: 0;
    }
}

.news__tab {
    position: relative;
    color: $text-second;
    padding: 16px 12px;

    @media (max-width: $mobile-m) {
        flex: 1 1 0;
    }

    &:hover {

        @media (min-width: $min-hover) {
            color: $text-primary;
        }
    }

    &:active {
        color: $text-primary;
    }

    &._active {
        color: $text-primary;
    
        &::before {
            opacity: 1;
        }
    }
}

.news__tabs-roller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 21px;
    height: 1px;
    background: $text-accent;
    border-radius: 12px;
    transition: $tr;
}

// Строка
.news-row {
    display: none;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px dashed $border-line;

    &._show {
        display: flex;
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & .news-row__title {
                color: $text-accent;
                text-shadow: 0 0 13px #bc5026;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &:active {
        
        & .news-row__title {
            color: $link-active;

            &::before {
                background: $link-active;
            }
        }
    }
}

.news-row__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 12px;
}

.news-row__tag {
    margin: 4px 12px 4px 0;

    @media (max-width: $mobile-l) {
        font-size: 12px;
    }

    &_orange {
        color: #D47C4A;
    }

    &_blue {
        color: #5CBFB7;
    }

    &_purple {
        color: #BF5CA2;
    }
}

.news-row__title {
    position: relative;
    font-size: 16px;
    transition: $tr;

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $text-accent;
        opacity: 0;
        transition: $tr;
    }
}

.news-row__date {
    color: $text-second;
    margin: 0 0 0 auto;
    white-space: nowrap;

    @media (max-width: $mobile-l) {
        font-size: 12px;
    }
}

// Смотреть архив
.news__achive {
    display: block;
    color: $text-second;
    text-align: center;
    padding: 6px 0;
    margin-top: 20px;
    transition: $tr;

    &:hover {
        
        @media (min-width: $min-hover) {
            color: $text-primary;
        }
    }
}

.news__achive-shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 110px;
    pointer-events: none;

    @media (max-width: 500px) {
        width: 110%;
    }

    & img {
        object-fit: cover;
    }
}