.icon-lock-bg {
    background-image: url(@img/buttons/lock.png);
    background-position: 0px 0px;
    width: 60px;
    height: 32px;
}
.icon-lock {
    background-image: url(@img/buttons/lock.png);
    background-position: 0px -32px;
    width: 26px;
    height: 28px;
}
