@import "mixins"; // Миксины
@import "fonts"; // Шрифты
@import "vars"; // Переменные
@import "reset"; // Сброс css

// Общие стили для страниц
// @include selection {} // Стиль выделения элементов на странице
// @include scrollbar(); // Стиль скроллбара

html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-main;
    color: $text-primary;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    background: #080a0a;

    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        display: flex;
        margin: 50px 0 100px 0;

        @media (max-width: $tablet) {
            margin: 50px 0 70px 0;
        }

        @media (max-width: $mobile-l) {
            // margin: 50px 0 40px 0;
        }
    }
}

.content__wrap {
    display: flex;

    @media (max-width: 860px) {
        flex-direction: column;
    }
}

.content-left,
.content-right {
    width: 50%;

    @media (max-width: 860px) {
        width: 100%;
    }
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 16px;

    @media (max-width: 860px) {
        padding-left: 0;
    }
}

@import "grid"; // Сетка

// Анимация
@import "./animation";

// Элементы
@import "./elements/buttons";
@import "./elements/textfield";

// Компоненты
// @import './components/_forms';
@import "./components/modals/modal";
@import "./components/modals/modal-si";

// Текстовые компоненты
@import "./components/text/text";
@import "./components/text/titles";

// Спрайты
@import "./sprites/general";
@import "./sprites/locks";

// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/ideal-world";
@import "./sections/rating";
@import "./sections/news";
@import "./sections/contacts";
@import "./sections/discuss";
@import "./sections/footer";